@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Courgette&family=Merienda:wght@800&family=Monsieur+La+Doulaise&display=swap');
/*fonte dogoogle*/
*{/*configuração para toda a página
    e deixar responsivo*/
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.nav-menu{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: flex-end;
    align-content: center;
    background-color: violet;

}
.menu {
    display: flex;
    flex: 70%;
    justify-content:space-around;
    width: 40%;
    margin-top: 2%;
    text-align: center;
    padding: 20px;
    
}

.logo{
    flex: 20%;
    margin-left: 10%;
    text-align: left;
    
}

.logo img{
    width: 40%;
    border-radius: 100px;
}

.menu-div{
    text-align: right;
    padding: 50px;
    justify-content: flex-end;
    display: contents;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}


nav a {
    text-decoration: none;
    color: wheat;

}

nav a:hover{
    color: black;
}

.conteiner{
    width: 1000px;
    margin: auto;
    position: relative;
    color: wheat;
}

img{
    width: 100%;
}
/*titulo sob a imagem*/
.titulo-centro{
    position: absolute;
    bottom: 5px;
    top: 50%;
    left:50%;
    height: 40px;
    border-radius: 10%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

h1{
    width: 100%;
    height: 100%;
    font-family: 'Alkatra';
    text-align: center;
}

h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

#home {
    text-align: center;
}
/*primeira letrado parágrafo grande*/
span {
    font-size: 8rem;
    font-weight: bold;
    color: rebeccapurple;
  }

  /*divs do Quem somos*/
  #div1 {
    width: 38%;
    display: inline-block;
    font-size: 2vw;
    margin-left: 10vw;
    text-align: center;
    padding: 5vw 5vw 10vw 0vw;
    min-width:40vw;
}

#div2 {
    width: 38%;
    display: inline-block;
    margin-right: 0vw;
    font-size: 2vw;
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    min-width:40vw;
    margin-top: -2%;
}

#img-quem-somos{
    width: 100%;
    
}
.portfolio-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-images img {
    margin: 10px;
    max-width: 50%;
    border: 1px violet;
}
.portfolio-images{
    margin: auto;
    margin: 100;
    border: #FFF;

}

address a {
    color: #FF5722;
}

footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px;
}
